# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
asgiref==3.7.2
backports-zoneinfo==0.2.1
certifi==2023.7.22
charset-normalizer==3.2.0
crispy-bootstrap4==2022.1
cryptography==41.0.3
django==4.2.4
django-allauth==0.55.2
django-crispy-forms==2.0
idna==3.4
libffi==3.4.4
libgcc-ng==11.2.0
libgomp==11.2.0
libstdcxx-ng==11.2.0
ncurses==6.4
oauthlib==3.2.2
openssl==3.0.10
pillow==10.0.0
pip==23.2.1
pyjwt==2.8.0
python==3.8.17
python3-openid==3.2.0
readline==8.2
requests==2.31.0
setuptools==68.0.0
sqlite==3.41.2
sqlparse==0.4.4
tk==8.6.12
typing-extensions==4.7.1
urllib3==2.0.4
wheel==0.38.4
xz==5.4.2
zlib==1.2.13
