{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div style="height: 550px; text-align: center" class="col-sm">
      <section>
        <form method="post" action="{% url 'marketing:suscripcion' %}">
        {% csrf_token %}
            <br>
            <h3>Suscribete a nuestras promociones</h3> <br>
            <input style="width: 450px; margin:auto; text-align:center" 
            class="form-control" type="email" name="email" 
            placeholder="Introduce tu email">
            <br>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
        {% if messages %}
          {% for message in messages %}
            <div style="width: 450px; margin:auto; text-align:center"
              class="my-5 alert alert-success">
              <h5 class="m-0">
                  {{ message }}
              </h5>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    </div>
  </div>
</div>
{% endblock %}