{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="row">
<div style="height: 550px;" class="col-sm-3"> 
        <h3>Categorías</h3>
        <ul>
            <li {% if not categoria %}class="selected"{% endif %}>
                <a href="{% url "tienda:lista_productos" %}">Todos</a>
            </li>
            {% for c in categorias %}
                <li {% if categoria.slug == c.slug %}class="selected"
                {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.nombre }}</a>
                </li>
            {% endfor %}
        </ul>
</div>
<div class="col-sm-9"> 
    <div id="main" class="product-list">
            <h3>{% if categoria %}{{ categoria.nombre }}{% else %}Productos 
            {% endif %}</h3>
            {% for producto in productos %}
                <div class="item">
                    <a href="{{ producto.get_absolute_url }}">
                        <img src="{% if producto.imagen %}{{ producto.imagen.url }}
                        {%else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ producto.get_absolute_url }}">{{ producto.nombre }}</a>
                    <br>
                    ${{ producto.precio }}
                </div>
            {% endfor %}
    </div>
</div>
</div>
</div>
{% endblock %}